@font-face {
    font-family: Futura;
    src: url(./assets/Futura);
}

@font-face {
    font-family: Lato;
    src: url(./assets/Lato/lato-v15-latin-regular.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(/assets/Lato/lato-v15-latin-300.ttf) 
}

* {
    font-family: Lato;
}

header {
    background-color: #7f9cae;
    box-shadow: 1px 1px 1px #ddd;
}

img {
    width: 100px;
}

.header-nav {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
}

.dropbtn {
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.dropdown-nav {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    z-index: 1;
}

.dropdown-nav a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-nav a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-nav {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: cornflowerblue;
}

li {
    list-style-type: none;
}

.hero {
    position: relative;
    text-align: left;
    color: white;
}

#hero-image {
    width: 1639px;
    height: 650px;
    background-blend-mode: luminosity;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-left-button {
    position: absolute;
    top: 8px;
    left: 16px;
    padding: 16px 20px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
}

h1 {
    font-family: Lato-Light;
    font-size: 5em;
    text-shadow: 1px 1px 1px #000;
}